root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{js,mjs,ts,tsx,astro,json,md}]
indent_size = 2

[*.{html,css,scss}]
indent_size = 2

[package.json]
indent_size = 2
