@import 'tailwindcss';

@theme {
  --color-primary: #ec6565;
  --color-fucsia: #e175ea;
  --color-cyan: #8cf1ff;
  --color-gray: #0e0a18;
  --color-gray-light: #ebebeb;
  --color-background-glass: #2c2936f2;

  --container-width: 1440px;

  --gradient-border-glass:
    linear-gradient(#2a2735 0 0) padding-box,
    linear-gradient(to right, var(--color-fucsia) 12.77%, var(--color-cyan) 114.5%) border-box;
  --gradient-border:
    linear-gradient(var(--color-gray) 0 0) padding-box,
    linear-gradient(to right, var(--color-fucsia) 12.77%, var(--color-cyan) 114.5%) border-box;
}

@theme inline {
  --font-sans: var(--font-lato);
}
