---
import { Image } from 'astro:assets'
import Navigation from '../ui/Navigation.astro'
import HamburgerButton from '../ui/HamburgerButton.astro'
import ButtonGradient from '../ui/ButtonGradient.astro'
import { getCurrentLocale } from '../../utils/i18n'
import scudLogo from '../../assets/scud-logo.svg'

const currentLocale = getCurrentLocale(Astro)
---

<header
  class="sticky mx-auto w-full bg-background-glass rounded-[40px] flex items-center justify-between px-4 lg:px-6 md:py-4 z-50 header"
>
  <Image src={scudLogo} alt="Scud Security" width={130} height={30} class="h-auto" />
  <div class="flex items-center justify-end gap-2 md:gap-6flex-1 lg:flex-none">
    <Navigation locale={currentLocale} />
    <HamburgerButton />
    <ButtonGradient />
  </div>
</header>

<style>
  .header {
    top: 16px;
    min-height: 70px;
    max-width: 1040px;
    @media (min-width: 768px) {
      top: 32px;
    }
  }
</style>
