---
import { getCurrentLocale, getI18n } from '../../utils/i18n'

const locale = getCurrentLocale(Astro)
const i18n = getI18n(locale)
---

<a
  href="#"
  class="inline-block px-5 py-2.5 border-2 border-transparent transition-all duration-300 button-gradient button-gradient-hover"
>
  {i18n.cta.demo}
</a>

<style>
  .button-gradient {
    border-radius: 24px;
    background: var(--gradient-border);
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
    min-width: 170px;
  }

  .button-gradient-hover:hover {
    background: var(--color-fucsia);
  }
</style>
