---
import { getCurrentLocale, getI18n } from '../../utils/i18n'

export interface Props {
  gradientType?: 'border' | 'border-glass'
}

const locale = getCurrentLocale(Astro)
const i18n = getI18n(locale)
const { gradientType = 'border' } = Astro.props
---

<a
  href={i18n.cta.link}
  class:list={{
    'inline-block px-5 py-2.5 border border-transparent transition-all duration-300 button-gradient button-gradient-hover text-center': true,
    'button-gradient-border': gradientType === 'border',
    'button-gradient-border-glass': gradientType === 'border-glass',
  }}
>
  {i18n.cta.demo}
</a>

<style>
  .button-gradient {
    border-radius: 24px;
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
    min-width: 176px;
    max-width: 205px;
  }

  .button-gradient-border {
    background: var(--gradient-border);
  }

  .button-gradient-border-glass {
    background: var(--gradient-border-glass);
  }

  .button-gradient-hover:hover {
    background: var(--color-fucsia);
  }
</style>
