---

---

<address>
  <ul class="text-gray not-italic font-light flex flex-col gap-1">
    <li><a href="tel:933931232" class="underline hover:font-normal">93 393 12 32</a></li>
    <li>
      <a href="mailto:info@scudsecurity.com" class="underline hover:font-normal"
        >info@scudsecurity.com</a
      >
    </li>
    <li>Av. Josep Fontcuberta 145</li>
    <li>Caldes de Montbui</li>
    <li>Barcelona</li>
  </ul>
</address>
